
@{
    ViewBag.Title = "Thankyou";
}
<!-- Thank you section -->
<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>Thank You</h2>
                    <span>Your Order was completed Successfully.</span>
                    <p>সস্তা বিপণী থেকে পণ্য ক্রয় করার জন্য আপনাকে অসংখ্য  ধন্যবাদ।  খুব শীগ্রই আমরা আপনার সাথে যোগাযোগ করবো।  যে কোনও প্রয়োজনে ০১৭০৭৩৩৪১০০। </p>
                    <a href="@Url.Action("Index","Home")"> Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Thank you section -->

